<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-items set-bg" data-setbg="../../Content/img/IMG_3471.png">

            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        
                        <h1>Toy Zone</h1>
                        <p style="color:black">

                            <b>Shop online at OneToyStore for toys in Pakistan for boys, girls and babies. Huge selection of cars, action figures, board games, planes, stuffed toys and Barbie Houses available at ToyLand.</b>
                        </p>
                        <a href="#" class="primary-btn">Shop Now</a>
                    </div>
                </div>
                <div class="off-card">
                    <h2>Kids <span>World</span></h2>
                </div>
            </div>
        </div>
        <div class="single-hero-items set-bg" data-setbg="../../Content/img/IMG_3472.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                       
                        <h1>Toy Zone</h1>
                        <p style="color:black">

                            <b>Shop online at OneToyStore for toys in Pakistan for boys, girls and babies. Huge selection of cars, action figures, board games, planes, stuffed toys and Barbie Houses available at ToyLand.</b>
                        </p>
                        <a href="#" class="primary-btn">Shop Now</a>
                    </div>
                </div>
                <div class="off-card">
                    <h2>Kids <span>World</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Banner Section Begin -->
<div class="banner-section spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="~/Content/img/Sign in.jpg" alt="">
                    <div class="inner-text">
                        <h4>Baby Boy’s</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="~/Content/img/baby girl fashion.jpg" />
                    <div class="inner-text">
                        <h4>Baby Girl’s</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="~/Content/img/𝐩𝐢𝐧 _ 𝐭𝐡𝐞𝐥𝐢𝐯𝐢𝐚𝐬𝐡𝐨𝐰.jpg" alt="">
                    <div class="inner-text">
                        <h4>Both</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Section End -->


<!-- Latest Blog Section Begin -->
<section class="latest-blog">
    <div class="container">
        
        
        <div class="benefit-items">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="~/Content/img/icon-1.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Free Shipping</h6>
                            <p>For all order over 99$</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="~/Content/img/icon-2.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Delivery On Time</h6>
                            <p>If good have prolems</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="~/Content/img/icon-1.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Secure Payment</h6>
                            <p>100% secure payment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Blog Section End -->
