@using ToyLand.Models
@model IEnumerable<ToyLand.Models.Toy>

@{
    ViewBag.Title = "Toys";
}


<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->
<!-- Product Shop Section Begin -->
<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                <div class="filter-widget">
                    <h4 class="fw-title">Categories </h4>
                    <ul class="filter-catagories">
                        <li><a href="/Home/ViewToys/">All Categories</a></li>
                        @foreach (var item in (List<Category>)ViewBag.Cats)
                        {
                            <li><a href="/Home/ViewToys/@item.CatID">@item.Name</a></li>
                        }
                       
                        
                    </ul>
                </div>
               

            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="product-show-option">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <form class="select-option">
                                <select name="sorting" class="sorting">
                                    <option>Default Sorting</option>
                                    <option>Price Low to High</option>
                                    <option>Price High to low</option>
                                    <option>By Product Name</option>
                                    <option>By Category Name</option>
                                </select>
                                <input type="submit" value="Sort Now" class="btn btn-success"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="product-list">
                    <div class="row">
                        @foreach (var item in Model)
                        {

                            <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img class="img-thumbnail" src="~/Content/AppData/@item.Image1" alt="">
                                        <div class="sale pp-sale">Sale</div>
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="/Home/AddtoCart/@item.ToyID"><i class="ui-icon-cart"></i> Add to Cart</a></li>
                                            <li class="w-icon active"><a href="/Home/ToysDetails/@item.ToyID"><i class="icon_bag_alt"></i> Details</a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">Towel</div>
                                        <a href="#">
                                            <h5>@item.Name</h5>
                                        </a>
                                        <div class="product-price">
                                            Rs. @item.SalePrice
                                            <span>Rs. @(item.SalePrice * 105/100)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->
